@import 'common.scss';
@import 'header.scss';
/*===============================
=         PAGE CREATION         =
================================*/

/*----------  CREATION COMMON  ----------*/
.creationCommon-section-title {
	@include styleH2;
}

/*----------  SECTION COVER  ----------*/
#section-cover{
	padding: 200px 0px 200px 0px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		display: flex;
		justify-content: center;
		.pattern {
			position: absolute;
    		width: 110%;
		}
		.container-text{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			text-align: center;
			h1{
				width: 700px;
				@include styleH1;
			}
			p{
				width: 480px;
				margin-top: 17px;
				@include styleParagraphBig;

				span {
					color: $colorMain_5;
				}
			}
			.container-action{
				margin-top: 45px;
				.btn{
					@include styleBtnStyle1;
					background-color:$colorMain_2;
					.btn-content{
						color:#FFF;
					} 
				}
			}
		}
	}
}

#section-jpd {
	position: relative;
	&:before{
	    content: '';
	    background-color: #C0E0ED;
		height: 88%;
	    width: 100%;
	    position: absolute;
	    left: 0px;
	    bottom: 50px;
	}
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.el-1 {
			position: relative;
			z-index: 1;
			margin-top: 20px;
			background-color: #fff;
			box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
			width: 480px;
			padding: 50px 70px;

			.container-text {
				width: 100%;
				ul {
					li {
						margin-top: 40px;
						display: flex;
						align-items: start;
						p {
							@include styleParagraphMedium;
							color: $colorMain_5;
							margin-left: 30px;
							width: 100%;
						}
					}
				}
			}
		}

		.el-2 {
			position: absolute;
		    bottom: 50px;
		    left: 390px;
		    z-index: 0;
		    width: 415px;
			img {
				width: 100%;
			}
		}

		.el-3 {
			width: 280px;
			.container-text {
				.text {
					@include styleParagraphBig;
					color: $colorMain_3;
				}

				.name {
					margin-top: 25px;
					@include styleParagraphMedium;
					color: $colorMain_3;
					font-weight: bold;
				}

				span {
					@include styleParagraphSmall;
					color: $colorMain_6;
				}
			}
		}
	}
}

#section-xpr {
	padding: 90px 0;
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.el-1 {
			width: 520px;
			display: flex;
			align-items: center;
			padding-bottom: 75px;

			.container-text {
				ul {
					margin-top: 75px;
					li {
						list-style: none;
						display: flex;
						align-items: baseline;
						margin-top: 40px;

						p {
							margin-left: 20px;
							@include styleParagraphMedium;
							color: $colorMain_5;
						}
					}
				}
			}
		}

		.el-2 {
			padding-top: 75px;
			border-top: 1px solid rgba(1,58,81,0.1);
			width: 100%;

			.container-text {
				display: flex;
				justify-content: space-between;
				align-items: center;
				h2 {
					width: 420px;
				}
				p {
					width: 300px;
					@include styleParagraphBig;
					color: $colorMain_5;
				}
				.container-action{
					.btn{
						@include styleBtnStyle1;
						background-color:$colorMain_2;
						.btn-content{
							color:#FFF;
						} 
					}
				}
			}
		}
	}
}

#section-step {
	background-color: #F4F4F4;
	height: 200px;
}

#section-start {
	padding: 80px 0 120px 0;
	background-color: #0ED094;
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.pattern {
			position: absolute;
		    width: 100%;
			left: 50%;
			transform: translate(-50%);
		}

		.container-title {
			h2 {
				color: #fff;
			}
		}

		.container-grp {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			margin-top: 70px;

			.el-1, .el-3 {
				width: 350px;
				display: flex;
				flex-direction: column;
				align-items: center;

				p {
					margin-top: 20px;
					@include styleParagraphBig;
					text-align: center;
					color: #fff;
				}

				.container-action{
					position: relative;
					margin-top: 40px;
					.btn{
						@include styleBtnStyle1;
						background-color:$colorMain_3;
						.btn-content{
							color:#FFF;
						} 
					}
					.btn-under {
						position: absolute;
						@include styleParagraphSmall;
					    color: #fff;
					    bottom: -25px;
					    text-align: center;
					    left: -12.5%;
    					width: 125%;
					}
				}
			}
			.el-2 {
				width: 50px;
				height: 50px;
				.circle {
					@include styleParagraphBig;
					color: #fff;
					border: 1px solid #fff;
					padding: 22.5%;
					border-radius: 50%;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	
}
@media screen and (max-width: $breakPoint_mobile){

}

/*====================================
=          END PAGE CREATION         =
=====================================*/

@import 'footer.scss';