@import 'common.scss';
@import 'header.scss';
/*===============================
=         PAGE CREATION         =
================================*/

/*----------  CREATION COMMON  ----------*/
.creationCommon-section-title {
	@include styleH2;
}

/*----------  SECTION COVER  ----------*/
#section-cover{
	padding: 200px 0px 200px 0px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		display: flex;
		justify-content: center;
		.pattern {
			position: absolute;
    		width: 110%;
		}
		.pattern-mobile {
			position: absolute;
			display: none;
		}
		.container-text{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			text-align: center;
			h1{
				width: 700px;
				@include styleH1;
			}
			p{
				width: 480px;
				margin-top: 17px;
				@include styleParagraphBig;

				span {
					color: $colorMain_5;
				}
			}
			.container-action{
				margin-top: 45px;
				.btn{
					@include styleBtnStyle1;
					background-color:$colorMain_2;
					.btn-content{
						color:#FFF;
					} 
				}
			}
		}
	}
}

/*----------  SECTION JPD  ----------*/
#section-jpd {
	position: relative;
	&:before{
	    content: '';
	    background-color: #C0E0ED;
		height: 88%;
	    width: 100%;
	    position: absolute;
	    left: 0px;
	    bottom: 50px;
	}
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			position: relative;
			z-index: 1;
			margin-top: 20px;
			background-color: #fff;
			box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
			width: 480px;
			padding: 50px 70px;

			.container-text {
				width: 100%;
				ul {
					li {
						margin-top: 40px;
						display: flex;
						align-items: start;
						img {
							width: 40px;
							height: 40px;
						}
						p {
							@include styleParagraphMedium;
							color: $colorMain_5;
							margin-left: 30px;
							width: 100%;
						}
					}
				}
			}
		}

		.right {
			.illu {
				position: absolute;
			    bottom: 50px;
			    left: 390px;
			    z-index: 0;
			    width: 415px;
				img {
					width: 100%;
				}
			}
			
			.container-text {
				width: 280px;
				.text {
					@include styleParagraphBig;
					color: $colorMain_3;
				}

				.author {
					.name {
						margin-top: 25px;
						@include styleParagraphMedium;
						color: $colorMain_3;
						font-weight: bold;
					}

					.job {
						@include styleParagraphSmall;
						color: $colorMain_6;
					}
				}
			}
		}
	}
}

/*----------  SECTION XPR  ----------*/
#section-xpr {
	padding: 90px 0;
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.el-1 {
			width: 520px;
			display: flex;
			align-items: center;
			padding-bottom: 75px;

			.container-text {
				ul {
					margin-top: 75px;
					li {
						list-style: none;
						display: flex;
						align-items: baseline;
						margin-top: 40px;
						width: 100%;

						p {
							margin-left: 20px;
							@include styleParagraphMedium;
							color: $colorMain_5;
						}
					}
				}
			}
		}

		.el-2 {
			padding-top: 75px;
			border-top: 1px solid rgba(1,58,81,0.1);
			width: 100%;

			.container-text {
				display: flex;
				justify-content: space-between;
				align-items: center;
				h2 {
					width: 420px;
				}
				p {
					width: 300px;
					@include styleParagraphBig;
					color: $colorMain_5;
				}
				.container-action{
					.btn{
						@include styleBtnStyle1;
						background-color:$colorMain_2;
						.btn-content{
							color:#FFF;
						} 
					}
				}
			}
		}
	}
}

/*----------  SECTION COMMON SECTION QUOTES  ----------*/
#common-section-quotes {
	background-color: #F4F4F4;
	.wrapper {
		.head {
			margin: auto;
			width: 420px;
		}
	}
}

/*----------  SECTION COMMON SECTION PRESS  ----------*/
#common-section-pres {
	padding-top: 60px;
	background-color: #F4F4F4;
	.wrapper {
		padding-top: 70px;
		border-top: 1px solid rgba(1,58,81,0.1);
	}
}

/*----------  SECTION START  ----------*/
#section-start {
	padding: 80px 0 120px 0;
	background-color: #0ED094;
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.pattern {
			position: absolute;
		    width: 100%;
		    height: 100%;

		    img {
			    &:first-child {
			    	height: 30px;	
			    	width: 30px;
			    	top: 10%;
    				left: 12%;
			    }
			    &:nth-child(2) {
			    	height: 30px;	
			    	width: 45px;
			    	top: 42%;
    				left: -1%;
			    }
			    &:nth-child(3) {
			    	height: 20px;	
			    	width: 40px;
					top: 32%;
    				left: 30%;
			    }
			    &:nth-child(4) {
			    	height: 20px;	
			    	width: 40px;
			    	top: 14%;
   	 				left: 84%;
			    }
			    &:last-child {
			    	height: 40px;	
			    	width: 80px;
			    	left: 94%;
			    }
			}
		}

		.container-title {
			h2 {
				color: #fff;
			}
		}

		.container-grp {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			margin-top: 70px;

			.el-1, .el-3 {
				width: 350px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.icon {
					width: 40px;
					height: 40px;
				}

				p {
					margin-top: 20px;
					@include styleParagraphBig;
					text-align: center;
					color: #fff;
					opacity: 0.9;
				}

				.container-action{
					position: relative;
					margin-top: 40px;
					.btn{
						@include styleBtnStyle1;
						background-color:$colorMain_3;
						.btn-content{
							color:#FFF;
						} 
					}
					.tel {
						position: absolute;
						@include styleParagraphSmall;
					    color: #fff;
					    bottom: -25px;
					    text-align: center;
    					width: 125%;
    					top: calc(100% + 10px); 
    					left:50%; 
    					transform: translateX(-50%); 
    					white-space:nowrap;
    					a {
    						text-decoration: none;
    						color: #fff;
    					}
					}
				}
			}
			.el-2 {
				width: 45px;
				height: 45px;
				.circle {
					@include styleParagraphBig;
					color: #fff;
					border: 1px solid #fff;
					padding: 9px 8px;
					border-radius: 50%;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {
	
	#section-cover .wrapper .pattern {
		top: -10px;
	}

	#section-jpd .wrapper .right .illu {
		bottom: 0;
	}
	#section-jpd .wrapper {
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
	}
	#section-jpd .wrapper .right {
		display: flex;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 50px;
	}
	#section-jpd .wrapper .right .illu {
		position: relative;
		left: 0;
		width: 300px;
	}
	
	#section-xpr .wrapper .el-2 .container-text {
		flex-wrap: wrap;
		justify-content: center;
	}
	#section-xpr .wrapper .el-2 .container-text h2,
	#section-xpr .wrapper .el-2 .container-text p {
		margin-bottom: 40px;
	}
	#section-xpr .wrapper .el-2 .container-text .container-action {
		margin-left: 25px;
	}

	#section-start .wrapper .container-grp .el-1, 
	#section-start .wrapper .container-grp .el-3 {
		padding: 0 10px;
	}
}
@media screen and (max-width: $breakPoint_mobile){

	#section-cover {
		padding: 160px 0 60px 0;
	}
	#section-cover .wrapper .pattern {
		width: 875px;
		right: -70px;
		top: -20px;
	}
	#section-cover .wrapper .pattern-mobile {
		display: block;
		top: -10%;
	    left: 7%;
	    width: 25px;
	    height: 25px;
	}
	#section-cover .wrapper .container-text {
		width: 100%;
	}
	#section-cover .wrapper .container-text h1 {
		width: 100%;
		font-size: 29px;
	}
	#section-cover .wrapper .container-text p {
		width: 100%;
	}

	#section-jpd:before {
		height: 500px;
		bottom: 0;
	}
	#section-jpd .wrapper {
		flex-direction: column;
	}
	#section-jpd .wrapper .left {
		width: 100%;
		padding: 50px 40px;
	}
	#section-jpd .wrapper .right {
		margin-bottom: 150px;
	}
	#section-jpd .wrapper .right .illu {
		left: auto;
		width: 125px;
		bottom: 0;
		right: 0;
	}
	#section-jpd .wrapper .right .container-text {
		margin-top: 60px;
		width: 100%;
	}

	#section-xpr .wrapper .el {
		width: 100%;
	}
	#section-xpr .wrapper .el-2 .container-text {
		flex-direction: column;
		text-align: center;
		height: 300px;
	}
	#section-xpr .wrapper .el-2 .container-text h2, 
	#section-xpr .wrapper .el-2 .container-text p {
		width: 100%;
	}

	#common-section-pres {
		padding-top: 20px;
	}

	#section-start {
		padding: 60px 0;
	}
	#section-start .wrapper .container-grp {
		flex-direction: column;
	}
	#section-start .wrapper .container-grp .el-1, 
	#section-start .wrapper .container-grp .el-3 {
		width: 100%;
	}
	#section-start .wrapper .container-grp .el-1 .container-action .btn {
		padding: 15px 24px;
	}
	#section-start .wrapper .container-grp .el-1, 
	#section-start .wrapper .container-grp .el-2, 
	#section-start .wrapper .container-grp .el-3 {
		margin-bottom: 40px;
	}
	#section-start .wrapper .pattern {
	    img {
		    &:nth-child(2) {
		    	display: none;
		    }
		    &:nth-child(3) {
				top: 19%;
				left: 78%;
		    }
		    &:nth-child(4) {
				top: 60%;
				left: 5%;
		    }
		    &:last-child {
				top: 55%;
				left: 95%;
		    }
		}
	}
}

/*====================================
=          END PAGE CREATION         =
=====================================*/

@import 'footer.scss';