@import 'common.scss';
@import 'header.scss';
/*===============================
=         PAGE FEATURES         =
================================*/

/*----------  FEATURES COMMON  ----------*/
.featuresCommon-section-title {
	@include styleH2;
}

/*----------  SECTION COVER  ----------*/
#section-cover{
	padding: 235px 0px 0px 0px;
	background-color: #C0EDE9;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.container-text{
			width: 620px;
			h1{
				@include styleH1;
			}
			p{
				margin-top: 17px;
				@include styleParagraphBig;
			}
			.container-action{
				margin-top: 45px;
				.btn{
					@include styleBtnStyle1;
					background-color:$colorMain_2;
					.btn-content{
						color:#FFF;
					} 
				}
			}
		}
		.container-img{
			margin-top: -140px;
			width: 420px;
			position: relative;
			img{
				width: 100%;
			}
		}
	}
}

/*----------  SECTION APP  ----------*/
#section-app {
	position: relative;
	margin-top: -40px;
    margin-bottom: -40px;
	&:before{
	    content: '';
	    background-color: #fff;
	    height: 80%;
	    width: 100%;
	    position: absolute;
	    left: 0px;
	    bottom: 10%;
	}
	.wrapper {
		position: relative;
		z-index: 1;
		@include styleGrid1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.container-img {
			margin-top: 30px;
			position: relative;
			width: 550px;
			display: flex;
			align-items: center;
			justify-content: center;
			.illu {
				width: 260px;
			}
 			.container-tag {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				.tag {
					position: absolute;
					&.tag-1, &.tag-2, &.tag-3 {
						width: 270px;
						img {
							width: 100%;
						}
					}
					&.tag-1 {
						top: 140px;
						left: 265px;
					}
					&.tag-2 {
						top: 255px;
						left: 108px;
					    z-index: -1;

					    animation-iteration-count: 1;
					  	animation-fill-mode: forwards;
					  	animation-name: moveTag2;
						animation-duration: 2s;  
					}
					&.tag-3 {
						top: 350px;
						left: 165px;
					    z-index: -1;

					    animation-iteration-count: 1;
					  	animation-fill-mode: forwards;
					  	animation-name: moveTag3;
						animation-duration: 2s;	
					}
					&.tag-4, &.tag-5, &.tag-6 {
						border-radius: 4px;
						padding: 4px 8px 4px 8px;
						font-size:11px;
						line-height: 14px;
						display: inline-flex;
						font-family: $font_2_semibold;
					}
					&.tag-4 {
						top: 120px;
						right: 110px;
						background-color: #EBF1F4;
						color:$colorMain_3;
					}
					&.tag-5 {
						top: 232px;
						left: 110px;
						background-color: $colorMain_2;
						color:#FFF; 
					}
					&.tag-6 {
						top: 330px;
						right: 90px;
						background-color: $colorMain_1;
						color:#FFF;
					}
					@keyframes moveTag2 {
					  0%{
					    transform: translateX(0);
					  } 
					  100%{
					    transform: translateX(-80px) translateY(5px);
					  }       
					}
					@keyframes moveTag3 {
					  0%{
					    transform: translateX(0);
					  } 
					  100%{
					    transform: translateX(80px) translateY(5px);
					  }       
					}
				}
			}
		}

		.container-text {
		    background-color: #fff;
			box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
			width: 500px;
			padding: 90px 70px;
			p {
				@include styleParagraphMedium;
				margin-top: 40px;
				width: 100%;
			}
			.btn{
				@include styleBtnStyle1;
				background-color: $colorMain_2;
				margin-top: 70px;
				.btn-content{
					color: #FFF;
				}
			}
		}
	}
}

/*----------  SECTION NTF  ----------*/
#section-ntf {
	padding: 100px 0 80px 0;
	margin-top: -15px;
	background-color: $colorMain_1;
	
	.wrapper {
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-flow: column wrap;
		align-items: center;

		.container-text {
			text-align: center;
    		width: 540px;
			h2 {
				color: #fff;
			}
			p {
				@include styleParagraphMedium();
				color: #fff;
				margin-top: 20px;
				opacity: 0.9;
			}
		} 

		.container-img {
			margin-top: 70px;
			width: 550px;
			img {
				position: relative;
				z-index: 1;
				width: 100%;
			}

			.pattern {
				position: absolute;
			    width: 90%;
				left: 50%;
				transform: translate(-50%);
			}
		}
	}
}

/*----------  SECTION LPT  ----------*/
#section-lpt {
	.wrapper{
		@include styleGrid1;
		.container-el{
			>.el{
				@include styleGrid2;
				padding: 120px 0px 120px 0px;
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				&:last-child{
					margin-bottom:0px;
				}
				.container-illu{
					width: 580px;
					text-align: center;
					img {
						width: 100%;
					}
				}
				.container-text{
					width: 420px;
					>p{
						margin-top: 20px;
						@include styleParagraphMedium;
					}
				}
				&:nth-child(1){
					border-bottom: 1px solid rgba(1,58,81,0.1);
				}
				&:nth-child(odd){
					.container-illu{
						order:1;
					}
					.container-text{
						order:2;
					}
				}
				&:nth-child(even){
					.container-illu{
						order:2;
					}
					.container-text{
						order:1;
					}
				}
			}
		}
	}
}

/*----------  SECTION BLN  ----------*/
#section-bln {
	position: relative;
	margin-top: -5%;
	
	&:before{
		content:'';
		background-color: $colorMain_4;
		height: 90%;
		width: 100%;
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.wrapper {
		position: relative;
		z-index: 1;
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.container-img {
			width: 350px;
			img {
				width: 100%;
			}
		}

		.container-text {
			padding-top: 200px;
			width: 400px;
			p {
				@include styleParagraphMedium();
				margin-top: 40px;
			}
		}
	}
}

/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {
	#section-cover {
		padding-top: 170px;
	}
	#section-cover .wrapper .container-text {
		width: 50%;
		margin-bottom: 75px;
	}
	#section-cover .wrapper .container-img {
		margin-top: -75px;
		width: 40%;
		display: flex;
    	align-items: flex-end;
	}

	#section-app {
		margin-bottom: auto;
		padding-bottom: 0;
		margin-bottom: -30px;
	}
	#section-app .wrapper {
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: start;
	}
	#section-app .wrapper .container-img {
		margin-top: 0;
		width: 450px;
		margin-bottom: 50px;
	}
	#section-app .wrapper .container-img .illu {
		margin: 100px auto auto auto;
	    display: flex;
	    width: 250px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-1, 
	#section-app .wrapper .container-img .container-tag .tag.tag-2, 
	#section-app .wrapper .container-img .container-tag .tag.tag-3 {
		width: 260px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-1 {
		top: 233px;
		left: 215px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-2 {
		top: 344px;
		left: 68px;
	}

	#section-app .wrapper .container-img .container-tag .tag.tag-3 {
		top: 436px;
		left: 110px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-4, 
	#section-app .wrapper .container-img .container-tag .tag.tag-5, 
	#section-app .wrapper .container-img .container-tag .tag.tag-6 {
		font-size: 14px;
		padding: 6px 10px 6px 10px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-4 {
		top: 210px;
		right: 40px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-5 {
		top: 323px;
		left: 35px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-6 {
		top: 415px;
		right: 25px;
    }

	#section-ntf .wrapper .container-text {
		width: 100%;
	}
	#section-ntf .wrapper .container-text p {
		@include styleParagraphBig();
		color: #fff;
	}

	#section-lpt .wrapper .container-el > .el {
		padding: 100px 0;
		width: 100%;
	}
	#section-lpt .wrapper .container-el > .el .container-illu {
		width: 50%;
	}
	#section-lpt .wrapper .container-el > .el .container-text {
		width: 45%;
	}
	
	#section-bln {
		padding: 70px 0 0 0;
	}
	#section-bln .wrapper {
		justify-content: space-between;
		align-items: center;
	}
	#section-bln .wrapper .container-img {
		width: 45%;
		display: flex;
		align-items: flex-end;
	}
	#section-bln .wrapper .container-text {
		padding-top: 0;
		width: 50%;
		margin-bottom: 20px;
	}
	#section-bln .wrapper .container-text p {
		margin-top: 25px;
	}
}
@media screen and (max-width: $breakPoint_mobile){

	#section-cover {
		padding-top: 130px;
	}
	#section-cover .wrapper {
		flex-direction: column;
		align-items: center;
	}
	#section-cover .wrapper .container-text {
		width: 100%;
		text-align: center;
	}
	#section-cover .wrapper .container-text h1 {
		font-size: 29px;	
	}
	#section-cover .wrapper .container-img {
		margin-top: 50px;
		width: 250px;
	}

	#section-app {
		margin-bottom: auto;
		padding-bottom: 50px;
		margin-top: -80px;
	}
	#section-app .wrapper {
	    flex-direction: column-reverse;
	    align-items: center;
	}
	#section-app:before {
		height: 87%;
	}
	#section-app .wrapper .container-text {
		width: 100%;
		padding: 50px 30px;
	}
	#section-app .wrapper .container-text .btn {
		margin-top: 40px;
	}
	#section-app .wrapper .container-text .btn .btn-content {
		font-size: 12px;
	}
	#section-app .wrapper .container-img {
		width: 300px;
	}
	#section-app .wrapper .container-img .illu {
		margin: 70px auto auto auto;
	    display: flex;
	    width: 150px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-1,
	#section-app .wrapper .container-img .container-tag .tag.tag-2,
	#section-app .wrapper .container-img .container-tag .tag.tag-3 {
		width: 200px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-1 {
		top: 152px;
    	left: 125px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-2 {
		top: 218px;
		left: 15px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-3 {
		top: 270px;
		left: 70px;
	}
	@keyframes moveTag2 {
	  0%{
	    transform: translateX(0);
	  } 
	  100%{
	    transform: translateX(-40px) translateY(5px);
	  }       
	}
	@keyframes moveTag3 {
	  0%{
	    transform: translateX(0);
	  } 
	  100%{
	    transform: translateX(40px) translateY(5px);
	  }       
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-4,
	#section-app .wrapper .container-img .container-tag .tag.tag-5,
	#section-app .wrapper .container-img .container-tag .tag.tag-6 {
		padding: 1px 6px;
		font-size: 7px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-4 {
		top: 140px;
    	right: 52px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-5 {
		top: 203px;
		left: 50px;
	}
	#section-app .wrapper .container-img .container-tag .tag.tag-6 {
		top: 259px;
    	right: 47px;
    }

	#section-ntf {
		padding: 75px 0;
	}
	#section-ntf .wrapper .container-text {
		width: 100%;
	}
	#section-ntf .wrapper .container-text p {
		@include styleParagraphBig();
		color: #fff;
	}
	#section-ntf .wrapper .container-img {
		width: 100%;
	}
	#section-ntf .wrapper .container-img .pattern {
		width: 200%;
	}

	#section-lpt .wrapper .container-el > .el {
		padding: 75px 0;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	#section-lpt .wrapper .container-el > .el .container-text {
		order: 1 !important;
		width: 100%;
	}
	#section-lpt .wrapper .container-el > .el .container-illu {
		margin-top: 50px;
		order: 2 !important;
		width: 100%;
	}

	#section-bln {
		padding: 70px 0;
		background-color: $colorMain_4;
	}
	#section-bln:before {
		content: none;
	}
	#section-bln .wrapper .container-img {
		display: none;
	}
	#section-bln .wrapper .container-text {
		padding-top: 0;
		width: 100%;
	}
}

/*====================================
=          END PAGE FEATURES         =
=====================================*/

@import 'common-sectionBnd.scss';
@import 'footer.scss';