#footer{
	width: 100%;
	position: relative;
	padding-top: 50px;
	background-color: #011F2B;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.container-logo{
			width: 290px;
			.logo{
				height: 36px;
				margin-bottom: 28px;
			}
			p{
				@include styleParagraphMedium;
				color: #FFF;
			}
		}
		.container-ul{
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			width: 720px;
			ul{
				width: 180px;
				list-style: none;
				margin-left: 60px;
				margin-bottom: 38px;
				li{
					&:first-child{
						a{
							@include styleParagraphMedium;
							color:#FFF;
							margin-bottom: 17px;
						}
					}
					&:not(:first-child){
						a{
							@include styleParagraphSmall;
							color: rgba(255, 255, 255, 0.7);
						}
					}
					a{
						display: inline-block;
						text-decoration: none;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
	.foot{
		@include styleGrid1;
		padding: 8px 0px 8px 0px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		.container-left{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			p{
				@include styleParagraphSmall;
				color: #FFF;
				font-size: 11px;
			}
			.li-rs{
				margin-left: 18px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				a{
					display: block;
					text-decoration: none;
					margin-right: 25px;
					width: 17px;
					&:last-child{
						margin-right:0px;
					}
					img{
						width: 100%;
					}
				}
			}
		}
		.container-right{
			height: 44px;
			img{
				height: 100%;
			}
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {

	#footer .wrapper {
		flex-direction: column;
		align-items: center;
	}
	#footer .wrapper .container-ul {
		margin-top: 40px; 
	}

	#footer .foot {
		padding-top: 20px;
		flex-direction: column;
		align-items: center;
	}
	#footer .foot .container-right {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#footer .foot .container-left {
		width: 100%;
	}
	#footer .foot .container-left p {
		width: 80%;
	}

}

@media screen and (max-width: $breakPoint_mobile) { 

	#footer .wrapper {
		flex-direction: column;
	}
	#footer .wrapper .container-ul {
		margin-top: 40px;
		width: 100%;
	}
	#footer .wrapper .container-ul ul {
		margin-left: initial;
    	margin-right: auto;

		width: 40%;

		&:nth-child(1) {
			order: 1;
		}
		&:nth-child(2) {
			order: 2;
		}
		&:nth-child(3) {
			order: 4;
		}
		&:nth-child(4) {
			order: 3;
			width: 100%;
		}
		&:nth-child(5) {
			order: 5;
		}
	}

	#footer .foot {
		padding-top: 20px;
		flex-direction: column;
		align-items: center;
	}
	#footer .foot .container-right {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#footer .foot .container-left {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	#footer .foot .container-left p {
		width: 70%;
	}

}