/*------------------------------------------*
 *------------- HEADER DESKTOP -------------*
 *------------------------------------------*/

#header-desktop{
	position: fixed;
	z-index: 20;
	height: 80px;
	width: 100%;
	transition: all ease 0.25s;
	&.scroll{
		background-color: #FFF;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	}
	.wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include styleGrid1;
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		.container{
			display: inline-flex;
			flex-flow: row nowrap;
			align-items: center;
			min-width: 261px;
			&.container-right {
				width: 100%;
    			justify-content: space-between;
			}
			.sep{
				margin-left: 23px;
				margin-right: 23px;
				height: 4px;	
				width: 4px;	
				opacity: 0.2;
				border-radius: 2px;
				background-color: $colorMain_3;
			}
			.logo{
				height: 26px;
				img{
					height: 100%;
				}
			}
			.tel{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				border-bottom: 1px solid transparent;
				img{
					height: 12px;
					margin-right: 8px;
				}
				.num{
					text-decoration: none;
					@include styleLinkStyle1;
				}
				&:hover {
					border-bottom: 1px solid $colorMain_3;
				}
			}
			.li-link{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				width: 100%;
    			justify-content: center;
				a{
					color: #000;
					opacity: 0.5;
					font-family: $font_1_regular;
					font-size: $linkStyle1_textsize_desktop;
					line-height: $linkStyle1_lineheight_desktop;
					text-decoration: none;
					padding: 5px 17px;
					&:last-child{
						margin-right:0px;
					}
					&.active {
						opacity: 1;
					}
					&.hide {
						opacity: 0.3;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
			.li-action{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				min-width: 211px;
				.action-signin{
					@include styleLinkStyle1;
					font-family: $font_1_regular;
					font-size: $linkStyle1_textsize_desktop;
					line-height: $linkStyle1_lineheight_desktop;
					margin-right: 18px;
					text-decoration: none;
				}
				.action-signup{
					@include styleBtnStyle1;
					font-family: $font_1_regular;
					font-size: $linkStyle1_textsize_desktop;
					line-height: $linkStyle1_lineheight_desktop;
					border:1px solid $colorMain_2;
					padding: 12px 25px;
					.btn-content{
						color:$colorMain_2;
					} 

					&:hover {
						@include styleBtnHover($colorMain_2, #fff, $colorMain_2);
					}
				}
			}
		}
	}
}

/*---------------------------------------------*
 *--------------- HEADER MOBILE ---------------*
 *---------------------------------------------*/

#header-mobile {
	display: none;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;

	&.scroll{
		background-color: #FFF;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	}

	.head {
		position: relative;
		z-index: 1;
		padding: 20px 25px 18px 25px;
		height: 80px;
		.wrapper {
			flex-direction: column;

			.container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				.icon {
					height: 40px;	
					width: 40px;	
					border-radius: 25px;	
					background-color: rgba(1,58,81,0.08);
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						margin-right: initial;
						height: 14px;
					}
				}

				.burger {
					position: relative;
					height: 27px;	
					width: 27px;

					.line {
						position: absolute;
						height: 3px;		
						border-radius: 1.5px;	
						background-color: #013A51;
						transition-duration: 0.2s;
						width: 100%;
						&:first-child {
							top: 6px;
						}
						&:last-child {
							transform: scaleX(0.7) translateX(6px);
							top: 16px;
							right: 0;
						}
					}
				}
			}
		}
	}

	.content {
		background-color: #FFF;
		transition-duration: 0.5s;
		transform: translateY(-200%);
		height: 500px;
		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.tel {
			    display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
		    	height: 40px;	
		    	width: 160px;	
		    	border-radius: 25px;	
		    	background-color: rgba(1,58,81,0.08);
				border-bottom: 1px solid transparent;
				transform: translateY(-15px) translateX(10px);

				img{
					height: 12px;
					margin-right: 8px;
				}

		    	.num {
					text-decoration: none;
					@include styleLinkStyle1;
					font-size: 16px;
					font-family: $font_1_regular;
				}
			} 

			.li-link {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 0 20px;

				a{
					width: 100%;
					@include styleParagraphMedium();
					padding-bottom: 20px;
					padding-top: 20px;
					border-bottom: 2px solid #F1F3F3;
					color: #000;
					opacity: 0.5;
					text-decoration: none;

					&:last-child {
						border: none;
					}
					&.active {
						opacity: 1;
					}
				}
			}

			.li-action{
				margin-top: 30px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				min-width: 215px;
				.action-signin{
					@include styleParagraphMedium;
					font-size: 14px;
					margin-right: 18px;
					text-decoration: none;
					font-weight: bold;
				}
				.action-signup{
					@include styleBtnStyle1;
					border:1px solid $colorMain_2;
					padding: 12px 25px;
					.btn-content{
						color:$colorMain_2;
					} 
				}
			}
		}
	}

	&.active {
		background-color: #FFF;
		height: 100%;

		.head .wrapper .container {

			.icon {
				transition-duration: 0.3s;
				background-color: transparent;
				img {
					display: none;
				}
			}

			.burger {
				justify-content: initial;

				.line {
					width: 24px;
					&:first-child {
						transform: rotate(45deg) translateX(5px) translateY(5px);
					}
					&:last-child {
						transform: rotate(-45deg) scaleX(1) translateX(0px) translateY(-4px);
					}
				}
			}
		}

		.content { 
			transform: translateY(0);
		}
	}
}


@media screen and (min-width: $breakPoint_mobile_ipad) and (max-width: $breakPoint_tablet) {

	#header-desktop {
		height: 105px;
	}
	#header-desktop .wrapper {
		flex-wrap: wrap;
	}
	#header-desktop .wrapper .container.desktop {
		margin-bottom: 10px;
	}
	#header-desktop .wrapper .container .li-link {
		justify-content: flex-start;
	}
}

@media screen and (max-width: $breakPoint_mobile_ipad) {
	#header-mobile {
		display: block;
	}
	#header-desktop {
		display: none;
	}
} 