#header-desktop{
	position: fixed;
	z-index: 20;
	height: 80px;
	width: 100%;
	transition: all ease 0.25s;
	&.scroll{
		background-color: #FFF;
		    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	}
	.wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include styleGrid1;
		display: inline-flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		.container{
			display: inline-flex;
			flex-flow: row wrap;
			align-items: center;
			&.mobile {
				display: none;
			}
			.sep{
				margin-left: 23px;
				margin-right: 23px;
				height: 4px;	
				width: 4px;	
				opacity: 0.2;
				border-radius: 2px;
				background-color: $colorMain_3;
			}
			.logo{
				height: 26px;
				img{
					height: 100%;
				}
			}
			.tel{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				border-bottom: 1px solid transparent;
				img{
					height: 12px;
					margin-right: 8px;
				}
				.num{
					text-decoration: none;
					@include styleLinkStyle1;
				}
				&:hover {
					border-bottom: 1px solid $colorMain_3;
				}
			}
			.li-link{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				a{
					color: $colorMain_6;
					font-family: $font_1_regular;
					font-size: $linkStyle1_textsize_desktop;
					line-height: $linkStyle1_lineheight_desktop;
					text-decoration: none;
					margin-right: 40px;
					&:last-child{
						margin-right:0px;
					}
					&:hover {
						color: #000;
						font-weight: bold;
					}
				}
			}
			.li-action{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.action-signin{
					@include styleLinkStyle1;
					margin-right: 18px;
					text-decoration: none;
				}
				.action-signup{
					@include styleBtnStyle1;
					border:1px solid $colorMain_2;
					padding: 12px 25px;
					.btn-content{
						color:$colorMain_2;
					} 
				}
			}
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {

	#header-desktop {
		height: 105px;
	}
	#header-desktop .wrapper {
		align-items: start;
		justify-content: space-around;
	}
	#header-desktop .wrapper .container {
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
	}
	#header-desktop .wrapper .container .li-link a {
		margin-right: 20px;
	}
	#header-desktop .wrapper .container .sep {
		display: none;
	}
	#header-desktop .wrapper .container .tel {
		margin-top: 10px;
	}
	#header-desktop .wrapper .container .li-action {
		margin-top: 10px;
	}

}

@media screen and (max-width: $breakPoint_mobile) {

	#header-desktop {
		display: flex;
	}
	#header-desktop .wrapper {
		flex-direction: column;
		position: initial;
		transform: none;
		margin-top: 20px;
	}
	#header-desktop .wrapper .container.desktop {
		display: none;
	}
	#header-desktop .wrapper .container.mobile {
		display: block;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	#header-desktop .wrapper .container.container-right {
		display: none;
		margin-top: 100px;
	}
	#header-desktop .wrapper .container .icon {
		height: 40px;	
		width: 40px;	
		border-radius: 25px;	
		background-color: rgba(1,58,81,0.08);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#header-desktop .wrapper .container .icon img {
		margin-right: initial;
		height: 14px;
	}
	#header-desktop .wrapper .container .tel {
		display: none;
	    position: absolute;
	    top: 70px;
		left: 50%;
		transform: translate(-45%);
	    width: 100%;
	    justify-content: center;
	    align-items: center;
    	height: 40px;	
    	width: 160px;	
    	border-radius: 25px;	
    	background-color: rgba(1,58,81,0.08);
	}
	#header-desktop .wrapper .container .tel .num {
		font-size: 16px;
		font-family: $font_1_regular;
	}

	#header-desktop .wrapper .container .li-link {
	 	flex-direction: column;
		align-items: start;
		width: 100%;
	}
	#header-desktop .wrapper .container .li-link a {
		@include styleParagraphMedium();
		padding-bottom: 20px;
		padding-top: 20px;
		border-bottom: 2px solid #F1F3F3;
		width: 100%;
		color: $colorMain_6;
		&:last-child {
			border: none;
		}
	}
	#header-desktop .wrapper .container .sep {
		display: none;
	}
	#header-desktop .wrapper .container .li-action {
		margin-top: 20px;
	}

	#header-desktop .wrapper .container .burger {
		position: relative;
		height: 27px;	
		width: 27px;
	}
	#header-desktop .wrapper .container .burger .line {
		position: absolute;
		height: 3px;		
		border-radius: 1.5px;	
		background-color: #013A51;
		transition-duration: 0.2s;
		width: 100%;
		&:first-child {
			top: 6px;
		}
		&:last-child {
			transform: scaleX(0.7) translateX(6px);
			top: 16px;
			right: 0;
		}
	}

	#header-desktop.active {
		position: fixed;
		top: 0;
		height: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
	
		.wrapper {
			height: 100%;
			justify-content: start;
		}
		.wrapper .container.container-right {
			display: flex;
			flex-direction: column;
	    	align-items: center;
	    	width: 100%;
		}
		.wrapper .container .icon {
			background-color: transparent;
		}
		.wrapper .container .icon img {
			display: none;
		}
		.wrapper .container .tel {
			display: flex;	
			text-decoration: none;
		}
		.wrapper .container .burger {
			justify-content: initial;
		}
		.wrapper .container .burger .line {
			width: 24px;
			&:first-child {
				transform: rotate(45deg) translateX(7px) translateY(7px);
			}
			&:last-child {
				transform: rotate(-45deg) scaleX(1) translateX(-2px) translateY(-2px);
			}
		}
	}
} 