@import 'common.scss';
@import 'header.scss';
/*================================
=            PAGE HOME           =
================================*/

/*----------  HOME COMMON  ----------*/
.homeCommon-section-onTitle{
	@include styleH5;
	color: $colorMain_2;
}
.homeCommon-section-title{
	@include styleH2;
}
/*----------  SECTION COVER  ----------*/
#section-cover{
	padding: 235px 0px 0px 0px;
	background-color: #C0E0ED;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.container-text{
			width: 620px;
			h1{
				@include styleH1;
			}
			p{
				margin-top: 17px;
				@include styleParagraphBig;
			}
			.container-action{
				display: flex;
				align-items: center;
				margin-top: 45px;
				.btn{
					@include styleBtnStyle1;
					background-color:$colorMain_2;
					.btn-content{
						color:#FFF;
					} 
				}
				.price {
					margin-left: 35px;
					display: flex;
					align-items: baseline;
					p {
						@include styleParagraphSmall();
						text-align: center;
						line-height: 2px;
						color: $colorMain_3;
						font-weight: bold;	
					}
					.number {
						margin-left: 10px;
						text-align: center;
						font-family:OpenSans-Bold;
						font-size: 34px;	
						font-weight: bold;	
						line-height: 43px;
						color: $colorMain_3;
						sup {
							font-size: 15px;
							margin-left: 2px;
						}
						span {
							font-size: 14px;
							margin-left: -2px;
							font-weight: bold;	
						}
					}
				}
			}
		}
		.container-img{
			margin-top: -140px;
			width: 420px;
			position: relative;
			img{
				width: 100%;
			}
			.container-tag{
				position: absolute;
				left: 0px;
				top: 0px;
				height: 100%;
				width: 100%;

				.tag{
					position: absolute;
					border-radius: 4px;
					padding: 5px 8px 4px 8px;
					font-size:11px;
					line-height: 14px;
					display: inline-flex;
					font-family: $font_2_semibold;
					box-shadow: 0 4px 18px 0 rgba(0,0,0,0.1);

					animation-name: floatingTag;
				  	animation-iteration-count: infinite;
				  	animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
				  	transform-origin: 50% 1px; 
				  	@keyframes floatingTag {
					  0%{
					    transform: translateY(5px);
					  } 
					  50%{
					    transform:translateY(-5px);;
					  } 
					  100%{
					    transform: translateY(5px);
					  }       
					}

					&.tag-1{
						top: 87px;
						right: -5px;
						background-color: #FFF;
						color:$colorMain_3;
						animation-duration: 10s;
					}
					&.tag-2{
						top: 240px;
						right: 0px;
						background-color: $colorMain_1;
						color:#FFF;
						animation-duration: 6s;
					}
					&.tag-3{
						top: 318px;
						left: 24px;
						background-color: $colorMain_2;
						color:#FFF;
						animation-duration: 8s;
					}
				}
			}
		}
	}
}



/*----------  SECTION FTR  ----------*/
#section-ftr{
	.wrapper{
		@include styleGrid1;
		.container-ftr{
			padding: 85px 0px 85px 0px;
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			border-bottom: 1px solid #F1F3F3;
			justify-content: space-between;
			.ftr{
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				.logo{
					height: 35px;
					margin-right: 25px;
				}
				.text{
					@include styleH5;
					width: 240px;
				}
			}
		}
	}
}


/*----------  SECTION BTP  ----------*/
#section-btp{
	background-color: $colorMain_4;
	.wrapper{
		@include styleGrid1;
		.container-el{
			>.el{
				@include styleGrid2;
				padding: 120px 0px 120px 0px;
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				&:first-child {
					border-bottom: 1px solid rgba(1,58,81,0.1);
					padding-top: 140px;
				}
				&:last-child{
					margin-bottom:0px;
				}
				.container-illu{
					position: relative;
					width: 580px;
					text-align: center;
					.pattern {
						position: absolute;
    					top: -65px;
					}
					.illu {
						position: relative;
					}
				}
				.container-text{
					width: 410px;
					>p{
						@include styleParagraphBig;
						margin-top: 15px;
					}
					h2 {
						margin-top: 6px;
					}
					.li-el{
						margin-top: 60px;
						.el{
							display: flex;
							flex-flow: row wrap;
							width: 100%;
							align-items: baseline;
							justify-content: space-between;
							margin-bottom: 30px;
							&.active  {
								.container-status{
									.status-active{
										opacity: 1;
										transform: translate(-50%, -50%) rotateY(0deg);
									}
									.status-unactive{
										opacity: 0;
										transform: translate(-50%, -50%) rotateY(-180deg);
									}
								}
								.text{
									color: #000;
								}
							}
							&:last-child{
								margin-bottom:0px;
							}
							.container-status{
								width: 16px;
								height: 8px;
								position: relative;
								perspective: 500px;
								img{
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									transition: all 0.35s ease;
								}
								.status-active{
									opacity: 0;
									transform: translate(-50%, -50%) rotateY(-180deg);
								}
								.status-unactive{
									opacity: 1;
									transform: translate(-50%, -50%) rotateY(0deg);
								}
							}
							.text{
								width: calc(100% - 30px);
								@include styleParagraphMedium;
							}
						}
					}
				}
				&:nth-child(odd){
					.container-illu{
						order:1;
					}
					.container-text{
						order:2;
					}
				}
				&:nth-child(even){
					.container-illu{
						order:2;
					}
					.container-text{
						order:1;
					}
				}
				&:nth-child(1){
					.container-illu{
						.illu{
							width: 100%;
						}
					}
				}
				&:nth-child(2){
					.container-illu{
						.illu{
							width: 415px;
						}
					}
				}
			}
		}
	}
}

.container-illu-anim{
	position: relative;
	width: 415px !important;
	height: 310px;
	.container-cards{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 230px;
		.card{
			top: 0px;
			left: 0px;
			width: 100%;
			height: 156px;
			position: absolute;
			border-radius: 8px;
			transition: all 0.5s ease;
			&.hide-top{
				transform: translateY(-100%);
				opacity: 0;
				z-index: 3;
			}
			&.order-3{
				transform: translateZ(0px);
				background-color: #FFFFFF;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
				z-index: 3;
				transition-delay:0.1s;
			}
			&.order-2{
				transform: translateY(27%) translateZ(-50px) scale(0.9);
				background-color: #C0E0ED;
				box-shadow: 0 9px 18px 0 rgba(0,0,0,0.1);
				z-index: 2;
				transition-delay:0.2s;
			}
			&.order-1{
				transform: translateY(53%) translateZ(-100px) scale(0.8);
				background-color: #E7F8FF;
				box-shadow: 0 9px 18px 0 rgba(0,0,0,0.1);
				z-index: 1;
				transition: transform 0.5s ease 0s, opacity 0.5s ease 0.5s;
			}
			.text{
				text-align: left;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				.date{
					@include styleParagraphMedium;
					color: $colorMain_1;
				}
				p{
					@include styleParagraphBig;
				}
			}
		}
	}
}


/*----------  SECTION APP  ----------*/
#section-app{
    position: relative;
    &.reach{
        .wrapper .container-illu{
            img:nth-child(1){
                transform: translate(-80%, -50%) scale(0.9);
            }
            img:nth-child(2){
                transform: translate(-20%, -50%);
            }
        }
    }
    .wrapper{
        padding: 125px 0px 125px 0px;
        @include styleGrid3;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        .container-illu{
            position: relative;
            width: 465px;
            height: 465px;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 240px;
                transition: all 1500ms cubic-bezier(0.77, 0, 0.175, 1);
            }
        }
        .container-text{
            width: 430px;
            >p{
                @include styleParagraphMedium;
                margin-top: 30px;
            }
            .container-action{
                margin-top: 45px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                a{
                    margin-right: 24px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    text-decoration: none;
                    padding: 10px 20px 10px 20px;
                    border-radius: 25px;
                    background-color: $colorMain_3;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: start;
                    .logo{
                        height: 27px;
                        margin-right: 13px;
                    }
                    .text{
                        width: 100%;
                        .onTitle{
                            color:#FFF;
                            font-size: 8px;
                            font-family: $font_1_regular;
                        }
                        .store{
                            color:#FFF;
                            font-size: 16px;
                            font-family: $font_1_regular;
                        }
                    }
                    &:first-child {
                        width: 150px;
                    }
                    &:last-child {
                        width: 175px;
                    }
                }
            }
        }
    }
}


/*----------  SECTION BANNER  ----------*/
#section-banner{
	position: relative;
	.wrapper{
		border-top: 1px solid #F1F3F3;
		padding: 100px 0px 110px 0px;
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.title{
			width: 360px;
		}
		.text{
			width: 300px;
			@include styleParagraphBig;
		}
		.btn{
			@include styleBtnStyle1;
			background-color: $colorMain_2;
			.btn-content{
				color: #FFF;
			}
		}
	}
}


/*----------  SECTION EXPERT ----------*/
#section-expert{
	position: relative;
	&:before{
		content:'';
		background-color: $colorMain_1;
		height: 90%;
		width: 100%;
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.wrapper{
		position: relative;
		z-index: 1;
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.container-text{
			padding: 200px 0px 80px 0px;
			width: 500px;
			.homeCommon-section-onTitle{
				color: $colorMain_3;
			}
			.homeCommon-section-title{
				color: #FFF;
			}
			.text{
				margin-top: 45px;
				@include styleParagraphMedium;
				color: #FFF;
				opacity: 0.9;
			}
			.link{
				display: inline-block;
				margin-top: 45px;
				@include styleLinkStyle1;
			}
		}
		.container-img{
			position: relative;
			.img{
				width: 475px;
			}
			.cdr{
				width: 270px;
				left: 50%;
				bottom: 0px;
				transform: translateX(-50%);
				position: absolute;
				text-align: center;
				background-color: #FFF;
				padding: 25px 0 5px 0;
				.name{
					@include styleH5;
				}
				.job{
					@include styleParagraphSmall;
				}
			}
		}
	}
}


/*----------  SECTION SECU ----------*/
#section-secu{
	position: relative;
	@include styleGrid2;
	
	.wrapper{
		padding: 90px 0px 90px 0px;
		border-bottom: 1px solid #F1F3F3;
		.head{
			margin-bottom: 75px;
			text-align: center;		
		}
		.container-el{
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			justify-content: space-around;
			align-items: flex-start;
			.el{
				width: 400px;
				text-align: center;
				.illu{
					width: 100%;
					height: 260px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
					margin-bottom: 50px;
				}
				.title{
					@include styleH5;
				}
				.text{
					margin-top: 20px;
					@include styleParagraphMedium;
				}
			}
		}
	}
	
}


/*----------  SECTION TARIFS ----------*/
#section-tarifs{
	padding: 110px 0px 100px 0px;
	@include styleGrid2;
	.wrapper{
		width: 510px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		.text{
			margin-top: 35px;
			@include styleParagraphMedium;
		}
		.btn{
			margin-top: 42px;
			@include styleBtnStyle1;
			background-color: $colorMain_2;
			.btn-content{
				color: #FFF;
			}
		}
	}
}



#common-section-pres .wrapper .container-col .col-el.col-el-2 .el:first-child {
	transform: translateX(-40px) translateY(10px);
} 

#common-section-pres .wrapper .container-col .col-el.col-el-2 .el:nth-child(3) {
	transform: translateX(-40px) translateY(-15px);
}


/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	#section-cover{
		padding-top: 130px;
	}
	#section-cover .wrapper
	{
		align-items: center;
	}
	#section-cover .wrapper .container-text{
		width: 315px;
	}
	#section-cover .wrapper .container-img{
		width: calc(100% - 315px);
		max-width: 330px;
		margin-top: 0px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-1{
		top: 10px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-2{
		top: 160px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-3{
		top: 215px;
	}

	#section-ftr .wrapper .container-ftr .ftr{
		width: calc(100% / 3.5);
	}
	#section-ftr .wrapper .container-ftr .ftr .logo{
		height: initial;
		width: 25px;
	}
	#section-ftr .wrapper .container-ftr .ftr .text{
		width: calc(100% - 50px);
	}
	
	#section-btp .wrapper .container-el>.el {
		width: 100%;
		padding: 100px 0;
		justify-content:space-around;
		&:first-child .container-illu {
			margin-bottom: 40px;
		}
		&:last-child .container-illu {
			margin-top: 40px;
		}
	}
	#section-btp .wrapper .container-el>.el .container-text {
		width: 400px;
	}
	#section-btp .wrapper .container-el>.el .container-illu {
		width: 400px;
	}
	#section-btp .wrapper .container-el>.el .container-illu .pattern {
		top: -50px;
		width: 400px;
	}
	#section-btp .wrapper .container-el>.el:nth-child(2) .container-illu .illu
	{
		width: 100%;
	}

	#section-app .wrapper {
		padding: 100px 0;
		justify-content: space-around;
	}
	#section-app .wrapper .container-illu {
		width: 400px;
	}
	#section-app .wrapper .container-illu img {
		width: 320px;
	}
	#section-app .wrapper .container-illu .illu-1 {
		left: 65px;
	}

	#section-banner .wrapper {
		justify-content: center;
	}
	#section-banner .wrapper .title {
		width: 300px;
		margin: auto;
		margin-bottom: 30px;
	}
	#section-banner .wrapper .text {
		margin: auto;
		margin-bottom: 30px;
	}
	#section-banner .wrapper .btn {
		margin: auto;
	}

	#section-expert .wrapper {
		justify-content: center;
	}

	#section-secu .wrapper {
		padding-bottom: 50px;
	}
	#section-secu .wrapper .container-el .el {
		margin-bottom: 40px;
	}


	#common-section-pres .wrapper .container-col .col-el.col-el-2 .el:nth-child(3) {
		transform: translateX(-40px);
	}
}
@media screen and (max-width: $breakPoint_mobile){

	#section-cover {
		padding-top: 120px;
	}
	#section-cover .wrapper .container-text {
		width: 100%;
    	text-align: center;
	}
	#section-cover .wrapper .container-text h1 {
		font-size: 29px;
	}
	#section-cover .wrapper .container-img {
		margin: auto;
	    width: 300px;
	    height: 300px;
	    overflow: hidden;
	}
	#section-cover .wrapper .container-img img {
		width: 270px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-1 {
		top: 45px;
    	right: 20px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-2 {
		top: 140px;
		right: 10px;
	}
	#section-cover .wrapper .container-img .container-tag .tag.tag-3 {
		top: 155px;
		left: 25px;
	}

	#section-ftr .wrapper .container-ftr {
		padding: 60px 0;
		flex-direction: column;
		align-items: center;
		height: 350px;
	}

	#section-btp .wrapper .container-el > .el {
		padding: 60px 0;
		width: 100%;
		flex-direction: column;
	}
	#section-btp .wrapper .container-el > .el:nth-child(odd) .container-illu {
		order: 2;
	}
	#section-btp .wrapper .container-el > .el:nth-child(odd) .container-text {
		order: 1;
	}
	#section-btp .wrapper .container-el > .el .container-illu {
		width: 100%;
	}
	#section-btp .wrapper .container-el > .el .container-illu .pattern {
		width: 100%;
		top: -30px;
	}
	#section-btp .wrapper .container-el > .el:nth-child(2) .container-illu .illu {
		width: 100%;
	}
	#section-btp .wrapper .container-el > .el .container-text {
		width: 100%;
		margin-bottom: 60px;
	}
	#section-btp .wrapper .container-el > .el .container-text .li-el {
		margin-top: 40px;
	}
	#section-btp .wrapper .container-el > .el .container-text .li-el .el {
		align-items: baseline;
	}
	#section-btp .wrapper .container-el > .el:nth-child(2n) .container-text h2 {
		margin-bottom: 40px;
	}
	.container-illu-anim{
		width: 100% !important;
	}

	#section-app .wrapper {
		padding: 60px 0;
	}
	#section-app .wrapper .container-illu {
		margin-top: 40px;
		width: 100%;
		order: 2;
	}
	#section-app .wrapper .container-illu img {
		width: 200px;
	}
	#section-app .wrapper .container-text {
		width: 100%;
		order: 1;
	}
	#section-app .wrapper .container-text .container-action a {
		margin-bottom: 20px;
	}

	#section-banner .wrapper {
		padding: 60px 0;
		height: 400px;
		flex-direction: column;
		text-align: center;
	}
	#section-banner .wrapper .title {
		width: 100%;
	}
	#section-banner .wrapper .text {
		width: 100%;
	}

	#section-expert {
		background-color: $colorMain_1;
	}
	#section-expert::before {
		content: none;
	}
	#section-expert .wrapper .container-text {
		padding: 60px 0 30px 0;
		width: 100%;
	}
	#section-expert .wrapper .container-img {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: center;
	}
	#section-expert .wrapper .container-img .img {
		width: 70%;
	}
	#section-expert .wrapper .container-img .cdr {
		padding: 15px 25px 0 25px;
	}

	#section-secu .wrapper {
		padding: 60px 0;
	}
	#section-secu .wrapper .head {
		margin-bottom: 40px;
	}
	#section-secu .wrapper .container-el .el {
		width: 100%;
	}
	#section-secu .wrapper .container-el .el:first-child {
		margin-bottom: 40px;
	}
	#section-secu .wrapper .container-el .el .illu {
		height: auto;
	}
	#section-secu .wrapper .container-el .el .illu img {
		width: 75%;
	}
	#section-secu .wrapper .container-el .el .text {
		width: 100%
	}

	#section-tarifs {
		padding: 70px 0;
	}
	#section-tarifs .wrapper {
		width: 100%;
	}
	#section-tarifs .wrapper h2 {
		width: 95%;
		margin: auto;
	}
}

/*====================================
=            END PAGE HOME           =
=====================================*/

@import 'common-sectionBnd.scss';
@import 'footer.scss';