@import 'common.scss';
@import 'header.scss';
/*================================
=            PAGE HOME           =
================================*/

/*----------  SECTION HOME  ----------*/
#section-cover{
	padding: 235px 0px 0px 0px;
	background-color: #C0E0ED;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.container-text{
			width: 620px;
			h1{
				@include styleH1;
			}
			p{
				margin-top: 17px;
				@include styleParagraphBig;
			}
			.container-action{
				margin-top: 45px;
				.btn{
					@include styleBtnStyle1;
					background-color:$colorMain_2;
					.btn-content{
						color:#FFF;
					} 
				}
			}
		}
		.container-img{
			margin-top: -140px;
			width: 420px;
			position: relative;
			img{
				width: 100%;
			}
			.container-tag{
				position: absolute;
				left: 0px;
				top: 0px;
				height: 100%;
				width: 100%;

				.tag{
					position: absolute;
					border-radius: 4px;
					padding: 4px 8px 4px 8px;
					font-size:11px;
					line-height: 14px;
					display: inline-flex;
					font-family: $font_2_semibold;

					&.tag-1{
						top: 87px;
						right: -5px;
						background-color: #FFF;
						color:$colorMain_3;
					}
					&.tag-2{
						top: 240px;
						right: 0px;
						background-color: $colorMain_1;
						color:#FFF;
					}
					&.tag-3{
						top: 318px;
						left: 24px;
						background-color: $colorMain_2;
						color:#FFF;
					}
				}
			}
		}
	}
}

/*====================================
=            END PAGE HOME           =
=====================================*/

@import 'footer.scss';