@import 'common.scss';
@import 'header.scss';
/*===============================
=         PAGE PRICING           =
================================*/

/*----------  PRICING COMMON  ----------*/
.pricingCommon-section-onTitle{
	@include styleH5;
	color: $colorMain_2;
}
.pricingCommon-section-title{
	@include styleH2;
}

/* SECTION PRICE */
#section-price {
	padding: 150px 0 75px 0;
	.wrapper {
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.head {
			width: 700px;
			text-align: center;
			margin-bottom: 50px;
			h2 {
				font-size: 40px;
				line-height: 50px;
			}
			h5 {
				@include styleH5;
				color: $colorMain_2;
				font-size: 14px;
			}
		}

		.grp {
			display: flex;
			align-items: start;
			justify-content: space-between;
			.el {
				position: relative;
				padding: 100px 50px 70px 50px;
				width: 400px;
				display: flex;
				flex-direction: column;				
				align-items: center;

				&:hover {
					transform: scale(1.01);
					transition-duration: 0.2s;
					box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
					.container-action {
						.btn {
							transition-duration: 0.2s;
							border:1px solid $colorMain_2;
							background-color: $colorMain_2;
							.btn-content {
								color: #fff;
							} 
						}
					}
				}
				.announcement {
					position: absolute;
				    top: 20;
				    width: 100%;
				    display: flex;
				    flex-direction: column;
				    align-items: center;
					p:first-child {
						@include styleParagraphSmall();
						height: 20px;	
						width: 70px;	
						border-radius: 3px;	
						background-color: #FD755F;
						font-size: 10px;	
						font-weight: bold;	
						line-height: 20px;
						color: #fff;
						text-align: center;
					}
					p:last-child {
						@include styleParagraphSmall();
						height: 15px;	
						color: #FD755F;	
						font-size: 11px;	
						text-align: center;
					}
				}
				.container-icon {
					width: 165px;
					height: 110px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				h5 {
					@include styleH5;
					color: $colorMain_3;
					margin-top: 30px;
				}
				.price {
					margin-top: 30px;
					p {
						@include styleParagraphSmall();
						text-align: center;
						line-height: 2px;
					}
					.number {
						text-align: center;
						@include styleH1();
						font-size: 40px;
						sup {
							font-size: 15px;
							margin-left: 2px;
						}
						span {
							font-size: 14px;
							margin-left: -5px;
						}
					}
				}
				.container-action {
					margin-top: 30px;
					.btn{
						@include styleBtnStyle1;
						background-color:#fff;
						border: 1px solid $colorMain_3;
						.btn-content{
							color: $colorMain_3;
						} 
					}
				}
				.text {
					margin-top: 25px;
					@include styleParagraphSmall();
					text-align: center;
					padding-bottom: 50px;
					border-bottom: 1px solid #EBF1F4;
					.blue {
						display: inline;
						color: $colorMain_5;
					}
				}
				ul {
					width: 90%;
					margin-top: 40px;
					li {
						list-style: none;
						display: flex;
						align-items: baseline;
						margin-top: 15px;
						img {
							width: 12px;
							height: 12px;
						}
						p {
							margin-left: 15px;
							@include styleParagraphSmall();
						}
					}
				}
			
				&.el-1 {
					ul {
						li {
							&:nth-last-child(2), &:last-child {
								p {
									color: $colorMain_5;
									font-weight: bold;
								}
							}
						}
					}
				}

				&.el-2, &.el-3 {
					ul {
						li {
							&:first-child {
								p {
									color: $colorMain_5;
									font-weight: bold;
								}
							}
						}
					}
				}

				&.el-3 {
					.price {
						p:first-child {
							text-decoration:line-through;
						}
					}
				}
			}
		}

		.foot {
			margin-top: 80px;
			width: 580px;
			text-align: center;
			p {
				@include styleParagraphMedium();
				color: $colorMain_5;
				&.question {
					margin-top: 40px;
				}
			}

			.info {
				@include styleParagraphMedium();
				color: $colorMain_5;
				margin-top: 5px;
				.blue {
					display: inline;
					text-decoration: none;
					color: #3799D0;
					font-weight: bold;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/* SECTION DETAILS */
#section-details {
	padding: 100px 0;
	background-color: $colorMain_4;
	.wrapper {
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.container-text {
			width: 800px;
			ul {
				li {
					list-style: none;
					display: flex;
					justify-content: space-between;
					align-items: center;

					&:first-child {
						padding-bottom: 10px;
						border-bottom: 1px solid #CED5D8;
						p:first-child {
							@include styleH5();
						}
						p:last-child {
							@include styleParagraphSmall();
						}
					}

					&:not(:first-child) {
						margin-top: 25px;
						p {
							@include styleParagraphMedium();
							color: $colorMain_3;
							&:last-child {
								font-weight: bold;
								font-family: OpenSans-Bold;
							}
							&.contact {
								color: #3799D0;
							}
						}
					}
				}

				&:nth-child(2) {
					margin-top: 75px;
				}
			}
		}
	}
}

/* SECTION FRQ */
#section-frq {
	padding: 70px 0 100px 0;
	.wrapper {
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.container-text {
			margin-top: 100px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.el {
				width: 340px;
				h4 {
					@include styleH4();
					line-height: 26px;
				}
				p {
					margin-top: 25px;
					@include styleParagraphMedium();
				}
			}
		}
	}
}

/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	
	#section-price .wrapper .grp {
		flex-wrap: wrap;
		justify-content: center;
	}

	#section-details .wrapper .container-text {
		width: 100%;
	}
	#section-details .wrapper .container-text ul li:first-child p:last-child {
		text-align: right;
		margin-left: 40px;
	}

	#section-frq .wrapper .container-text {
		flex-wrap: wrap;
		justify-content: center;
	}
	#section-frq .wrapper .container-text .el {
		margin: 0 20px 40px 20px;
	}
}
@media screen and (max-width: $breakPoint_mobile){

	#section-price .wrapper .head {
		width: 100%;
		margin-bottom: 0;
	}
	#section-price .wrapper .head h2 {
		font-size: 29px;
	}
	#section-price .wrapper .grp {
		flex-direction: column;
		align-items: center;
	}
	#section-price .wrapper .grp .el {
		width: 100%;
		padding: 50px 0 50px 0;
		&:hover {
			box-shadow: none;
			transform: none;
		}
	}
	#section-price .wrapper .grp .el ul {
		width: 100%;
	}
	#section-price .wrapper .grp .el .announcement {
		top: 0;
	}
	#section-price .wrapper .foot {
		width: 100%;
	}

	#section-details .wrapper .container-text {
		width: 100%;
	}
	#section-details .wrapper .container-text ul li:first-child {
		flex-direction: column;
		align-items: start;
		padding-bottom: 25px;
	}
	#section-details .wrapper .container-text ul li:not(:first-child) p {
		font-size: 14px;
	}

	#section-frq {
		padding: 70px 0 35px 0;
	}
	#section-frq .wrapper .container-title {
		width: 100%;
	}
	#section-frq .wrapper .container-text {
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
	#section-frq .wrapper .container-text .el {
		width: 100%;
		margin-bottom: 40px;
	}
}

/*====================================
=          END PAGE PRICING          =
=====================================*/

@import 'common-sectionBnd.scss';
@import 'footer.scss';