@import 'common.scss';
@import 'header.scss';
/*===============================
=         PAGE PRICING           =
================================*/

/*----------  PRICING COMMON  ----------*/
.pricingCommon-section-onTitle{
	@include styleH5;
	color: $colorMain_2;
}
.pricingCommon-section-title{
	@include styleH2;
}

/* SECTION PRICE */
#section-price {
	height: 200px;
}

/* SECTION DETAILS */
#section-details {
	padding: 100px 0;
	background-color: #F4F4F4;
	.wrapper {
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.container-text {
			width: 800px;
			ul {
				li {
					list-style: none;
					display: flex;
					justify-content: space-between;
					align-items: center;

					&:first-child {
						padding-bottom: 10px;
						border-bottom: 1px solid #CED5D8;
						p:first-child {
							@include styleH5();
						}
						p:last-child {
							@include styleParagraphSmall();
						}
					}

					&:not(:first-child) {
						margin-top: 25px;
						p {
							@include styleParagraphMedium();
							color: $colorMain_3;
							&:last-child {
								font-weight: bold;
							}
							&.contact {
								color: $colorMain_2;
							}
						}
					}
				}

				&:nth-child(2) {
					margin-top: 75px;
				}
			}
		}
	}
}

/* SECTION FRQ */
#section-frq {
	padding: 70px 0 100px 0;
	.wrapper {
		@include styleGrid1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.container-text {
			margin-top: 100px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.el {
				width: 340px;
				h4 {
					@include styleH4();
					line-height: 26px;
				}
				p {
					margin-top: 25px;
					@include styleParagraphMedium();
				}
			}
		}
	}
}

/*----------  RESPONSIVE ----------*/
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	
}
@media screen and (max-width: $breakPoint_mobile){

}

/*====================================
=          END PAGE PRICING          =
=====================================*/

@import 'common-sectionBnd.scss';
@import 'footer.scss';