@import 'common.scss';
@import 'header.scss';
/*================================
=            PAGE TEAM           =
================================*/

/*----------  SECTION COVER  ----------*/
#section-cover{
	padding: 175px 0px 80px 0px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		.pattern{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			img {
				position: absolute;

				&:first-child {
					height: 30px;	
					width: 30px;
					left: 150px;
					top: 0;
				}
				&:nth-child(2) {
					height: 20px;	
					width: 40px;
					left: 50%;
					top: -40px;
				}
				&:nth-child(3) {
					height: 17px;	
					width: 17px;
					bottom: 0;
    				left: 200px;

				}
				&:nth-child(4) {
					height: 42px;	
					width: 80px;
					right: 40px;
    				top: -25px;
				}
				&:last-child {
					height: 30px;	
					width: 30px;
					right: 0;
    				bottom: 0;	
				}
			}
		}
		.container-text{
			text-align: center;
			h1{
				@include styleH1;	
			}
			p{
				margin-top: 20px;
				@include styleParagraphBig;
			}
			.btn{
				margin-top: 40px;
				@include styleBtnStyle1;
				border: 1px solid #EBF1F4;
				.btn-content{
					color: $colorMain_3;
				}
			}

		}
	}
}


/*----------  SECTION TEAM  ----------*/
#section-team{
	position: relative;
	padding-bottom: 110px;
	&:before{
		content:'';
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: calc(100% - 60px);
		background-color: $colorMain_4;
	}
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.item{
			position: relative;
			overflow: hidden;
			transition: all 0.25s ease;
			margin-bottom: 17px;
			&:hover{
				transform:scale(1.2);
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
				z-index: 1;
			}
			.pp{
				height: 247px;
				width: 186px;
				background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
			}
			.container-text{
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: calc(100% - 40px);
				transition: all 0.25s ease;
				transform: translateY(100%);
				.text{
					background-color: #FFF;
					padding-top: 22px;
					.name{
						@include styleH4;
						font-size: 18px;
						padding: 0px 13px 0px 13px;
					}
					.job{
						position: relative;
						margin-top: 10px;
						@include styleParagraphSmall;
						padding: 0px 13px 13px 13px;
						&:after{
							content: '';
							position: absolute;
							left: calc(100% - 1px);
							bottom: 0%;
							background-color: #FFF;
							width: 41px;
							height: 100%;
						}
					}
				}
			}
			&:hover .container-text{
				transform: translateY(0%);
			}
		}
	}
}


/*----------  SECTION FONDATEUR  ----------*/
#section-fondateur{
	.wrapper{
		@include styleGrid1;
		.container-el{
			>.el{
				@include styleGrid2;
				padding: 120px 0px 120px 0px;
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid rgba(1,58,81,0.1);
				&:last-child{
					margin-bottom:0px;
				}
				.container-illu{
					position: relative;
					order:2;
					width: 580px;
					text-align: center;
					.pattern {
						position: absolute;
						width: 175%;
					    top: 60px;
					    right: 20px;
					}
					.illu{
						width: 100%;
					}
					.under-illu {
						position: absolute;
					    bottom: 0;
					    left: 0;
					    width: 100%;
					    height: 200px;
					    background-color: #fff;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    .text {
					    	width: 160px;
					    	h5 {
					    		@include styleParagraphMedium();
					    		color: $colorMain_3;
					    		font-weight: bold;
					    	}
					    	p {
					    		@include styleParagraphSmall();
					    	}
					    }
					}
				}
				.container-text{
					order:1;
					width: 410px;
					.title{
						@include styleH2;
					}
					>p{
						margin-top: 13px;
						@include styleParagraphBig;
					}
					.li-el{
						margin-top: 40px;
						margin-bottom: 40px;
						.el{
							display: flex;
							flex-flow: row wrap;
							width: 100%;
							align-content: flex-start;
							justify-content: space-between;
							margin-bottom: 14px;
							&:last-child{
								margin-bottom:0px;
							}
							.shape{
								width: 16px;
							}
							.text{
								width: calc(100% - 30px);
								@include styleParagraphMedium;
								color: $colorMain_3;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {

	#section-cover .wrapper .pattern {
		top: -30px;
	}

	#section-team .wrapper {
		justify-content: space-around;
	}
	#section-team .wrapper .item {
		margin-left: 10px;
		margin-right: 10px;
	}

	#section-fondateur .wrapper .container-el>.el {
		width: 100%;
		justify-content: center;
	}
	#section-fondateur .wrapper .container-el>.el .container-text {
		width: 380px;
		margin: auto;
	}
	#section-fondateur .wrapper .container-el>.el .container-illu {
		width: 450px;
		margin: auto;
	}
	#section-fondateur .wrapper .container-el>.el .container-illu .pattern {
		top: 50px;
		right: 15px;
	}

}

@media screen and (max-width: $breakPoint_mobile) { 

	#section-cover {
		padding-bottom: 50px;
	}
	#section-cover .wrapper .container-text {
		width: 100%;
	}
	#section-cover .wrapper .container-text h1 {
		font-size: 29px;
	}
	#section-cover .wrapper .pattern img {
		&:first-child {
			left: -10px;
			top: -30px;
		}
		&:nth-child(2) {
			top: -60px;
		}
		&:nth-child(3) {
			bottom: -20px;
			left: 25px;
		}
		&:nth-child(4) {
			right: -80px;
			top: 0px;	
		}
		&:last-child {
			right: -35px;
			bottom: -10px;
		}
	}

	#section-team {
		padding-bottom: 0;
		overflow-x: auto;
	}
	#section-team:before {
		content: none;
	}
	#section-team .wrapper {
		white-space: nowrap;
		display: initial;
	}
	#section-team .wrapper .item {
		margin-top: 30px;
		margin-bottom: 50px;
		margin-left: 10px;
		margin-right: 10px;
		width: 180px;
		height: 245px;
		display: inline-block;
		&:first-child {
			margin-left: 30px;
		}
		&:last-child {
			margin-right: 30px;
		}
	}
	#section-team .wrapper .item .pp {
		width: 100%;
		height: 100%;
	}
	#section-team .wrapper .item .container-text .text {
		padding-top: 12px;
	}
	#section-team .wrapper .item .container-text .text .name {
		font-size: 16px;
	}
	#section-team .wrapper .item .container-text .text .job {
		margin-top: 5px;
	}

	#section-fondateur .wrapper .container-el>.el {
		width: 100%;
		justify-content: center;
		padding: 20px 0 0 0;
	}
	#section-fondateur .wrapper .container-el>.el .container-text {
		width: 100%;
	}
	#section-fondateur .wrapper .container-el>.el .container-illu {
		width: 100%;
	}
	#section-fondateur .wrapper .container-el>.el .container-illu .pattern {
		width: 190%;
		top: 35px;
		right: 0px;
	}
	#section-fondateur .wrapper .container-el>.el .container-illu .under-illu {
		height: 125px;
	}
}

/*====================================
=            END PAGE TEAM           =
=====================================*/

@import 'footer.scss';